<!DOCTYPE html>
<html>
<head>
	<title>세번째 페이지</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style type="text/css">

		.result_contents{
			width:800px;
			height: 200px;
			background-color: #b0ecf4;
			text-align: center;
			margin-top: 50px;
			margin-right: auto;
			margin-left: auto;
		}

		.result_title{
			font-size: 26pt;
			padding-top: 30px;
		}

		#result_main_genre{
			font-size: 36pt;
		}
		#result_second_genre{
			font-size: 36pt;
		}

		.result_word{
			font-size: 26pt;
		}

		.genre_contents{
			margin-top: 50px;
			margin-left: 100px;
			margin-right: 100px;
		}

		.movie_title{
			font-weight: bold;
			text-align: center;
		}

		#main_genre_title{
			text-align: center;

		}

		#second_genre_title{
			text-align: center;

		}


	</style>
	<script type="text/javascript">

		$(document).ready(function(){
			$('#cards_box_1').html('');
			ART_Movie_listing_genre_1();
		});

		function ART_Movie_listing_genre_1(){
			$.ajax({
				type: "GET",
				url: "/art_user_genre_1",
				data: {},
				success: function(response){
					let genre_1_movie_infos = response['info'];
					for (let i = 0 ; i < 3; i++) {
						let random = Math.floor(Math.random() * genre_1_movie_infos.length)
						title = genre_1_movie_infos[random]['title']
						console.log(title)
						poster_url = genre_1_movie_infos[random]['poster_url']
						console.log(poster_url)
						//poster = genre_1_movie_infos[random]['poster']
						//console.log(poster)
						director = genre_1_movie_infos[random]['director']
						console.log(director)
						summary = genre_1_movie_infos[random]['summary']
						console.log(summary)

						let temp_html_1 = '<div class="card">\
						<img class="card-img-top" id="maingenre_movie_poster1" src="'+poster_url+'" alt="Card image cap">\
						<div class="card-body">\
						<h5 class="card-title movie_title" id="maingenre_movie_title1">'+title+'</h5>\
						<p class="card-text" id="maingenre_movie_summary1">'+summary+'</p>\
						<p class="card-text"><small class="text-muted" id="maingenre_movie_director1">'+director+'</small></p>\
						</div>\
						</div>';
						$('#cards_box_1').append(temp_html_1);
					}

				}

			})
		}

		$(document).ready(function(){
			$('#cards_box_2').html('');
			ART_Movie_listing_genre_2();
		});
		
		function ART_Movie_listing_genre_2(){
			$.ajax({
				type: "GET",
				url: "/art_user_genre_2",
				data: {},
				success: function(response){
					let genre_2_movie_infos = response['info'];
					for (let i = 0 ; i < 3; i++) {
						let random = Math.floor(Math.random() * genre_2_movie_infos.length)
						title = genre_2_movie_infos[random]['title']
						console.log(title)
						poster_url = genre_2_movie_infos[random]['poster_url']
						console.log(poster_url)
						//poster = genre_2_movie_infos[random]['poster']
						//console.log(poster)
						director = genre_2_movie_infos[random]['director']
						console.log(director)
						summary = genre_2_movie_infos[random]['summary']
						console.log(summary)

						let temp_html_2 = '<div class="card">\
						<img class="card-img-top" id="maingenre_movie_poster1" src="'+poster_url+'" alt="Card image cap">\
						<div class="card-body">\
						<h5 class="card-title movie_title" id="maingenre_movie_title1">'+title+'</h5>\
						<p class="card-text" id="maingenre_movie_summary1">'+summary+'</p>\
						<p class="card-text"><small class="text-muted" id="maingenre_movie_director1">'+director+'</small></p>\
						</div>\
						</div>';
						$('#cards_box_2').append(temp_html_2);
					}

				}

			})
		}
		
	</script>

</head>
<body>

	<div class="result_contents">
		<div class="result_title">내가 선호하는 장르는</div>
		<br>
		<span id = "result_main_genre"> 드라마, </span> <span id = "result_second_genre"> 멜로/애정/로맨스 </span><span class="result_word">입니다</span>
	</div>


	<!--메인장르 컨텐츠-->
	<div class = genre_contents>
		<h1 id = "main_genre_title">드라마</h1>

		<div class="card-deck" id="cards_box_1">
			
		</div>
	</div>

	<!--세컨장르 컨텐츠-->
	<div class = genre_contents>
		<h1 id = "second_genre_title">멜로/애정/로맨스</h1>
		<div class="card-deck" id="cards_box_2">
			
		</div>
	</div>

</body>
</html>